[Unit]
Description=Telegram Bot
After=network.target

[Service]
Environment="HOME=/home/XYZ"
ExecStart=/home/XYZ/Telegram-Bot/update_and_run.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
